#block-views-Standards-block_1 li.views-row .views-field-nid {
  display: block;
}
#block-views-Standards-block_1 li.views-row .views-field-nid .field-content {
  display: none;
}
#block-views-Standards-block_1 li.views-row .views-field-nid .last-change {
  display: inline-block;
  width: 50%;
}
#block-views-Standards-block_1 li.views-row .views-field-nid .progress {
  display: inline-block;
  width: 30%;
}
#block-views-Standards-block_1 li.views-row .views-field-nid .status-complete {
  display: inline-block;
  width: 15%;
  background: url(images/checkmark.png) no-repeat;
  height: 19px;
}
#block-views-Standards-block_1 li.views-row .views-field-nid .status-incomplete {
  display: inline-block;
  width: 15%;
}
